[submodule "testWnd/glfw"]
	path = testWnd/glfw
	url = git@github.com:glfw/glfw.git
[submodule "testWnd/nuklear/Nuklear"]
	path = testWnd/nuklear/Nuklear
	url = git@github.com:Windmill-City/Nuklear.git
